.search {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.searchBar-container, .searchCard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.searchBar {
    width: 20rem;
}

.ant-input {
    border: 1px solid var(--darkBlue);
}

.ant-input-search, .ant-input:hover, .ant-input-search, .ant-input:focus {
    border-color: var(--darkBlue) !important;
    box-shadow: none !important;
}

.ant-btn, .ant-btn-primary, .ant-input-search-button {
    background-color: var(--darkBlue);
    border: 1px solid var(--darkBlue);
}

.ant-btn:hover, .ant-btn-primary:hover, .ant-input-search-button:hover {
    background-color: var(--darkBlue);
    border: 1px solid var(--darkBlue);
}